README.md filter=lfs diff=lfs merge=lfs -text
test.txt filter=lfs diff=lfs merge=lfs -text
test2.txt filter=lfs diff=lfs merge=lfs -text
test3.txt filter=lfs diff=lfs merge=lfs -text
work_dirs filter=lfs diff=lfs merge=lfs -text
